.App {
  height: 100vh;
  text-align: center;
  background-color: #ebebeb;
  align-content: center;
  overflow: auto;
}

.App-header {
  background-color: #2d530d;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 2vmin);
  color: rgb(231, 231, 231);
}

h1{
  color: #3e3e3e;
  font-size: calc(8px + 4vmin);
}

.content{

}

.search_bar{
  height: 8vh;
  width: 35vw;
  padding: 0 2vw 0 2vw;
  background-color: rgb(209, 209, 209);
  color: rgb(231, 231, 231);
  font-size: calc(7px + 2vmin);
  border: 1px;
  border-color: #3e3e3e;
  border-radius: 10px;
}

.saved_history{
  max-height: 20vh;
  width: 35vw;
  display: inline-block;
  text-align: left;
  margin-top: 3px;
  padding: 0 2vw 0 2vw;
  background-color: rgb(209, 209, 209);
  color: #3e3e3e;
  font-size: calc(9px + 2vmin);
  border: 1px;
  border-color: #3e3e3e;
  border-radius: 10px;
  overflow-y: auto;
}

.sort_filters{

}

.result_set{
  min-height: 15vh;
  max-height: 45vh;
  margin-bottom: 3em;
  width: 35vw;
  display: inline-block;
  text-align: left;
  padding: 0 2vw 0 2vw;
  background-color: rgb(50, 78, 38);
  color: rgb(231, 231, 231);
  font-size: calc(9px + 2vmin);
  border: 1px;
  border-color: #3e3e3e;
  border-radius: 10px;
  overflow: auto;
}

.result_list, .history_list {
  padding: 0;
  list-style-type: none;
}

.result_list_expanded{
  font-size: calc(7px + 1vmin);
  margin: 0.3em 0 0 0;
  list-style-type: inherit;
}