.App {
  height: 100vh;
  text-align: center;
  background: rgb(57,12,121);
  background: -moz-radial-gradient(circle at bottom, rgba(57,12,121,1) 48%, rgba(30,21,75,1) 91%);
  background: -webkit-radial-gradient(circle at bottom, rgba(57,12,121,1) 48%, rgba(30,21,75,1) 91%);
  background: radial-gradient(circle at bottom, rgba(57,12,121,1) 48%, rgba(30,21,75,1) 91%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#390c79",endColorstr="#1e154b",GradientType=1);
  align-content: center;
  overflow: auto;
}

h1{
  color: rgb(228, 195, 11);
  font-size: calc(8px + 4vmin);
  margin: 0.5em 0 0.2em 0;
}

.search_bar{
  height: 8vh;
  width: 30vw;
  padding: 0 2vw 0 2vw;
  background-color: rgb(209, 209, 209);
  color: #3e3e3e;
  font-size: calc(7px + 2vmin);
  border: 1px;
  border-color: #3e3e3e;
  border-radius: 10px;
  margin-top:20px;
  margin-bottom: 20px;
}

button{
  background-color: rgb(211, 181, 9);
  border: 1px;
  color: rgb(231, 231, 231);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.saved_history{
  max-height: 20vh;
  width: 35vw;
  display: inline-block;
  text-align: left;
  margin-top: 3px;
  padding: 0 2vw 0 2vw;
  background-color: rgb(209, 209, 209);
  color: rgb(211, 181, 9);
  font-size: calc(9px + 2vmin);
  border: 1px;
  border-color: #3e3e3e;
  border-radius: 10px;
  overflow-y: auto;
}

.result_set{
  min-height: 15vh;
  max-height: 45vh;
  margin-bottom: 3em;
  width: 35vw;
  display: inline-block;
  text-align: left;
  padding: 0 2vw 0 2vw;
  background-color: rgb(211, 181, 9);
  color: rgb(231, 231, 231);
  font-size: calc(9px + 2vmin);
  border: 1px;
  border-color: #3e3e3e;
  border-radius: 10px;
  overflow: auto;
  word-wrap: break-word;
}

.result_wrapper > p{
  color: rgb(228, 195, 11);
}

.result_list, .history_list {
  padding: 0;
  list-style-type: none;
}

.result_list_expanded{
  font-size: calc(7px + 1vmin);
  margin: 0.3em 0 0 0;
  list-style-type: inherit;
}

.search_content{
  display: flex;
  flex-direction: column;
}

.checkboxes {
  text-decoration: none;
  display: inline-flex;
  flex-wrap: wrap;
  font-size: 16px;
  justify-content: space-evenly;
  width: 38vw;
  height: 14vh;
  margin: 2em auto;
  background-color: rgb(211, 181, 9);
}

.checkbox {
  margin: auto;
}

input[type="checkbox"] {
  display: none;
}

.check_label {
  justify-content: center;
  padding: 2em;
  flex-grow: 1;
  color: rgb(231, 231, 231);
    background-color: rgb(211, 181, 9);
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.check_label:hover {
  transition: background-color 0.2s ease-in-out;
  background-color: rgb(226, 196, 25);
  cursor: pointer;
}

.sort_filters{
  width: 20vw;
  margin: auto;
  display: inline-block;
  align-content: center;
  background-color: rgb(211, 181, 9); 
}

.sorting{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(211, 181, 9);
}

.sort_optn a, .sort_button {
    display: inline-block;
    color: rgb(231, 231, 231);
    text-align: left;
    padding: 0.5em 0.5em;
    text-decoration: none;
}

.sort_button a:hover, .sort_filters:hover .sort_button {
    background-color: rgb(211, 181, 9);
}

.sort_button .sort_filters {
    display: inline-block;
}

.sorting {
    display: none;
    position: absolute;
    background-color: rgb(211, 181, 9);
    min-width: inherit;
    z-index: 1;
}

.sorting .sort_optn {
    color: rgb(231, 231, 231);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.sorting .sort_optn:hover {
  background-color: rgb(226, 196, 25);
}

.sort_filters:hover .sorting {
    display: block;
}